<!DOCTYPE html>
<html>
<head>    
<style>

       body {

           background: skyblue;

           font-family: verdana;

           color: #fff;

           padding: 30px;

       }        h1 {

           font-size: 48px;

           text-transform: uppercase;

           letter-spacing: 2px;

           text-align: center;        }        h2 {

           font-size: 30px;

           text-transform: uppercase;

           letter-spacing: 2px;

           text-align: center;        }

       p {

           font-size: 16px;

           text-align: center;

       }
       form {
           text-align: center;
       }

   </style>   
   </head>    
   <body>
       
       
<% include partial/nav.ejs %>       
<h1>Welcome to my Contacts</h1>
<p>Here you will see my contacts</p> 
<p><%= qs.person %></p>

<form id="contact-form">
    <label for="who">Who do you want to contact?</label>
    <input type="text" name="who" value="<%= qs.person %>">
    <label for="department">Which department?</label>
    <input type="text" name="department" value="<%= qs.person %>">
    <label for="email">Your email</label>
    <input type="email" name="email"/>
    <input type="submit" value="submit" />
</form>



   
</body>
</html>