<!DOCTYPE html>
<html>
<head>

<title>NodieNet</title> 

<!-- Tutorial 17 -->
<style> 


    body {
        background : skyblue; font-family: verdana; color: #fff; padding: 30px;
        
    }
 
 h1 {
     font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;
 }   
    
 p, li {
     font-size: 16px; text-align: center;
 }   
    
h2 {
   font-size: 30px; 
   text-transform: uppercase; 
   letter-spacing: 2px; 
   text-align: center; 
}    
    
    
 ul {
     list-style-type: none;
     padding: 0;
     
 } 
    
    
    
    
    
    
    
</style>    
</head>    
<body>   


<% include partial/nav.ejs %>
<h1>Welcome</h1>
<p>You won't find a website better anywhere else!</p> 


</body>
</html>