<!DOCTYPE html>
<html>
<head>

<title>NodieNet</title> 
<script src="app.js"></script>
<!-- Tutorial 17 -->
<style> 


    body {
        background : skyblue; font-family: verdana; color: #fff; padding: 30px;
        
    }
 
 h1 {
     font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;
 }   
    
 p, li {
     font-size: 16px; text-align: center;
 }   
    
h2 {
   font-size: 30px; 
   text-transform: uppercase; 
   letter-spacing: 2px; 
   text-align: center; 
}    
    
    
 ul {
     list-style-type: none;
     padding: 0;
     
 } 
    
    
    
    
    
    
    
</style>    
</head>    
<body>   
    
<!-- Tutorial 17<h1>Welcome to the most</h1>
<p>You won't find a website better anywhere else!</p> -->


<!-- Tutorial 23
<h1>Contact Us!</h1>
<p>Contact the collect cats on the web right here...</p>
-->

<!-- Tutorial 25
<h1>Welcome to the profile of <%= person %</h1>
<p><strong>Age: </strong><%= data.age %></p>
<p><strong>Job:</strong><%= data.age %></p>
-->

<!-- Tutorial 26
<h1>Welcome to the profile of <%= person %></h1>
<p><strong>Age: </strong><%= data.age %></p>
<p><strong>Job: </strong><%= data.age %></p>
<h2>Hobbies</h2>
<ul>
 -->   <!--<% data.hobbies.forEach(fucntion(item){ %> -->  <!-- importing some js connecting to app.js -->
<!--    <li><%= item %></li>    
        
        
<%  }); %>
    
</ul>
-->

<!-- Tutorial 27
<% include partials/nav.ejs %>
<h1>Welcome to the profile of <%= person %></h1>
<p><strong>Age: </strong><%= data.age %></p>
<p><strong>Job: </strong><%= data.age %></p>
<h2>Hobbies</h2>
<ul>
 --> <!--  <% data.hobbies.forEach(fucntion(item){ %> --> 
<!--        <li><%= item %></li>    
        
        
<%  }); %>
    
</ul>
-->









</body>     
</html>